@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1639984038269') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-erweima:before {
  content: "\e642";
}

.icon-gougou:before {
  content: "\e6a3";
}

.icon-tupian:before {
  content: "\e629";
}

.icon-xiazai:before {
  content: "\e61a";
}

.icon-reset:before {
  content: "\e7fe";
}

.icon-quanping:before {
  content: "\e657";
}

.icon-videos:before {
  content: "\e618";
}

.icon-wenjian:before {
  content: "\e689";
}

.icon-video:before {
  content: "\e638";
}

.icon-24gf-pause2:before {
  content: "\ea81";
}

.icon-24gf-play:before {
  content: "\ea82";
}

.icon-24gl-fileText:before {
  content: "\eabe";
}

.icon-huanyuan:before {
  content: "\e658";
}

.icon-yinle:before {
  content: "\e62d";
}

.icon-guanbi:before {
  content: "\e639";
}

.icon-wenjianjia:before {
  content: "\e80c";
}

.icon-fuzhi:before {
  content: "\e62b";
}

.icon-piliangchuangjian:before {
  content: "\e615";
}

.icon-orbit-full:before {
  content: "\ea06";
}

.icon-maximizezuidahua:before {
  content: "\e6db";
}

.icon-cipanbaohu:before {
  content: "\e631";
}

